body {
    font-family: Comic Sans MS;
    background-color: aquamarine;
}

.header{
    background-color: aquamarine;
    height: 10%;
    width: 101%;
    margin-left: -0.5%;
    margin-top: -0.7%;
}

#logo img {
    height: 145%;
    width: 10%;
    float: left;
}
#redirects {
    float: right;
    margin-top: 3%;
    width: 50%;
    /* margin-right: 10%; */
}
#redirects a {
    margin-right: 6%;
    text-decoration: none;
    color: black;
    font-size: large;
    width:50px;
    border-radius: 4px;
    border: none;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    padding: 5px;
}
#redirects a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }  
#redirects a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
 #redirects a:hover span {
    padding-right: 25px;
  }
  #redirects a:hover span:after {
    opacity: 1;
    right: 0;
  }

#redirects a:hover{
    color: brown;
    background-color: azure;

}

.main-img {
    background-image: url(img/animated.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: grey;
    background-blend-mode: multiply;
    /* resize: none; */
    width: 101.2%;
    margin-left: -0.7%;
    height: 90%;
}

.main-img h1{
    /* font-size: larger; */
    text-align: center;
    font-size: 40pt;
    color: white;
    font-family: comic sans ms;

    font-weight: 1000;
}

.main-img h2{
    /* font-size: larger; */
    text-align: center;
    font-size: 20pt;
    color: white;
    font-family: comic sans ms;
    /* font-weight: 1000; */
}

.main-img h3{
    /* font-size: larger; */

    color: aquamarine;
    font-family: comic sans ms;
    padding: 5px;
    margin-left: 5%;
    font-size:18pt;
    /* font-weight: 1000; */
}

.main-img h5{
    /* font-size: larger; */

    color: white;
    font-family: comic sans ms;
    margin-left: 5%;
    font-size:14pt;
    margin-top: -1%;
    /* font-weight: 1000; */
}


.main-img a {
    margin-left: 45%;
    background-color: aquamarine;

    text-decoration: none;
    color: black;
    font-size: larger;
    width:50px;
    border-radius: 4px;
    border: none;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    padding: 5px;

    
    
}

.main-img a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.main-img a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .main-img a:hover span {
    padding-right: 25px;
  }
  
  .main-img a:hover span:after {
    opacity: 1;
    right: 0;
  }


#about-content{
    background-color: grey;
    height: 75%;
    width: 45%;
    margin-top: 5%;
    margin-left: 10%;
    float: left;
}
.about {
    color:white;
    float: left;
}
.about h1{
    /* text-align: center; */
    font-weight: bolder;
    margin-left: 3%;
    padding: 10px;
}
.about h2{
    font-size: medium;
    font-family: comic sans ms;
    /* text-align: center; */
    padding: 10px;
    text-align: left;
    margin-right: 15%;
    margin-left: 3%;
}
#about-img {
    float: right;
    
}
#about-img img{
    width: 40%;
    height:50%;
    margin-top: 12%;
    margin-left: -50%;
    position: absolute;
}


.pros {
    height:90%;
    width:100%;
    margin-top: 50%;
    background-color: grey;
}
.pros h1{
    text-align: center;
    color: white;
}
.pros .pro{
    height: 80%;
    width:30%;
    float: left;
    background-color: whitesmoke;
    margin-right: 1%;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 20px;
    transition: transform .2s;
}
.pros .pro img{
    width:70%;
    height:60%;
    margin-left: 15%;
}
.pros .pro:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
.pros .pro h4{
    text-align: center;
}

.pros .pro h5{
    text-align: center;
}

.pros .pro h6{
    text-align: center;
    font-size: large;
    margin-top: -2%;
}
.button {
    background-color: white; /* Green */
    border: none;
    color: aquamarine; 
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 22%;
    margin-top: -8%;
}
  
.button1 {
    background-color: aquamarine;  
    color: black; 
    border: 2px solid white;
}
  
/* .button1:hover {
    background-color: white;
    color: aquamarine; 
} */

.contact {
    background-color: grey;
    width: 101%;
    height: 50%;
    color: white;
    margin-left: -0.5%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    margin-bottom: -0.6%;
   
}

.contact h1{
    padding:10px;
    margin-left: 5%;
}

.contact .address{
    padding: 10px;
    margin-left: 5%;
    float: left;
}


.contact .media {
   float:left;
   font-size: medium;
   margin-left: 15%;
   margin-top: -5%;
}

.contact .media img{
    width:30%;
    height:15%;
    float: left;
    margin-top: 10%;
    margin-left: 3%;
}

.contact .media img:hover {
    opacity: 0.7;
}
/* .contact .media h4{
    float:right;
    margin-left: 2%;
    margin-top: 4%;

} */

.contact .newsletter{
    float:left;
    margin-left: 20%;
    margin-top: -5%;
}
.contact .newsletter input{
    border: 3px solid white;
    height: 10%;
    width: 80%;
    background-color: transparent;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
  }

  .button2{
    margin-top: 5%;
    background-color: aquamarine;  
    color: black; 
    /* border: 2px solid white; */
  }


/* .summary{

    background-color: grey;
    height: 85%;
    width: 101.2%;
    margin-top: 3%;
    margin-left: -0.7%;

} */



